In [5]:
def show_stars(rows):
    for i in range(1, rows+1):
        print('*'*i)

In [6]:
rows=5
show_stars(rows)

*
**
***
****
*****

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob

In [30]:
paths = glob('Names/Names/*.txt')
li = []
for path in paths:
    df = pd.read_csv(path, names=['name', 'gender', 'occurence'])
    df['year'] = path[-8:-4]
    li.append(df)
df = pd.concat(li)
df.head(5)

        name gender  occurence  year
0       Mary      F       7065  1880
1       Anna      F       2604  1880
2       Emma      F       2003  1880
3  Elizabeth      F       1939  1880
4     Minnie      F       1746  1880

In [21]:
glob('Names/Names/*.txt')

['Names/Names\\yob1880.txt',
 'Names/Names\\yob1881.txt',
 'Names/Names\\yob1882.txt',
 'Names/Names\\yob1883.txt',
 'Names/Names\\yob1884.txt',
 'Names/Names\\yob1885.txt',
 'Names/Names\\yob1886.txt',
 'Names/Names\\yob1887.txt',
 'Names/Names\\yob1888.txt',
 'Names/Names\\yob1889.txt',
 'Names/Names\\yob1890.txt',
 'Names/Names\\yob1891.txt',
 'Names/Names\\yob1892.txt',
 'Names/Names\\yob1893.txt',
 'Names/Names\\yob1894.txt',
 'Names/Names\\yob1895.txt',
 'Names/Names\\yob1896.txt',
 'Names/Names\\yob1897.txt',
 'Names/Names\\yob1898.txt',
 'Names/Names\\yob1899.txt',
 'Names/Names\\yob1900.txt',
 'Names/Names\\yob1901.txt',
 'Names/Names\\yob1902.txt',
 'Names/Names\\yob1903.txt',
 'Names/Names\\yob1904.txt',
 'Names/Names\\yob1905.txt',
 'Names/Names\\yob1906.txt',
 'Names/Names\\yob1907.txt',
 'Names/Names\\yob1908.txt',
 'Names/Names\\yob1909.txt',
 'Names/Names\\yob1910.txt',
 'Names/Names\\yob1911.txt',
 'Names/Names\\yob1912.txt',
 'Names/Names\\yob1913.txt',
 'Names/Names\\yob1914.txt',
 'Names/Names\\yob1915.txt',
 'Names/Names\\yob1916.txt',
 'Names/Names\\yob1917.txt',
 'Names/Names\\yob1918.txt',
 'Names/Names\\yob1919.txt',
 'Names/Names\\yob1920.txt',
 'Names/Names\\yob1921.txt',
 'Names/Names\\yob1922.txt',
 'Names/Names\\yob1923.txt',
 'Names/Names\\yob1924.txt',
 'Names/Names\\yob1925.txt',
 'Names/Names\\yob1926.txt',
 'Names/Names\\yob1927.txt',
 'Names/Names\\yob1928.txt',
 'Names/Names\\yob1929.txt',
 'Names/Names\\yob1930.txt',
 'Names/Names\\yob1931.txt',
 'Names/Names\\yob1932.txt',
 'Names/Names\\yob1933.txt',
 'Names/Names\\yob1934.txt',
 'Names/Names\\yob1935.txt',
 'Names/Names\\yob1936.txt',
 'Names/Names\\yob1937.txt',
 'Names/Names\\yob1938.txt',
 'Names/Names\\yob1939.txt',
 'Names/Names\\yob1940.txt',
 'Names/Names\\yob1941.txt',
 'Names/Names\\yob1942.txt',
 'Names/Names\\yob1943.txt',
 'Names/Names\\yob1944.txt',
 'Names/Names\\yob1945.txt',
 'Names/Names\\yob1946.txt',
 'Names/Names\\yob1947.txt',
 'Names/Names\\yob1948.txt',
 'Names/Names\\yob1949.txt',
 'Names/Names\\yob1950.txt',
 'Names/Names\\yob1951.txt',
 'Names/Names\\yob1952.txt',
 'Names/Names\\yob1953.txt',
 'Names/Names\\yob1954.txt',
 'Names/Names\\yob1955.txt',
 'Names/Names\\yob1956.txt',
 'Names/Names\\yob1957.txt',
 'Names/Names\\yob1958.txt',
 'Names/Names\\yob1959.txt',
 'Names/Names\\yob1960.txt',
 'Names/Names\\yob1961.txt',
 'Names/Names\\yob1962.txt',
 'Names/Names\\yob1963.txt',
 'Names/Names\\yob1964.txt',
 'Names/Names\\yob1965.txt',
 'Names/Names\\yob1966.txt',
 'Names/Names\\yob1967.txt',
 'Names/Names\\yob1968.txt',
 'Names/Names\\yob1969.txt',
 'Names/Names\\yob1970.txt',
 'Names/Names\\yob1971.txt',
 'Names/Names\\yob1972.txt',
 'Names/Names\\yob1973.txt',
 'Names/Names\\yob1974.txt',
 'Names/Names\\yob1975.txt',
 'Names/Names\\yob1976.txt',
 'Names/Names\\yob1977.txt',
 'Names/Names\\yob1978.txt',
 'Names/Names\\yob1979.txt',
 'Names/Names\\yob1980.txt',
 'Names/Names\\yob1981.txt',
 'Names/Names\\yob1982.txt',
 'Names/Names\\yob1983.txt',
 'Names/Names\\yob1984.txt',
 'Names/Names\\yob1985.txt',
 'Names/Names\\yob1986.txt',
 'Names/Names\\yob1987.txt',
 'Names/Names\\yob1988.txt',
 'Names/Names\\yob1989.txt',
 'Names/Names\\yob1990.txt',
 'Names/Names\\yob1991.txt',
 'Names/Names\\yob1992.txt',
 'Names/Names\\yob1993.txt',
 'Names/Names\\yob1994.txt',
 'Names/Names\\yob1995.txt',
 'Names/Names\\yob1996.txt',
 'Names/Names\\yob1997.txt',
 'Names/Names\\yob1998.txt',
 'Names/Names\\yob1999.txt',
 'Names/Names\\yob2000.txt',
 'Names/Names\\yob2001.txt',
 'Names/Names\\yob2002.txt',
 'Names/Names\\yob2003.txt',
 'Names/Names\\yob2004.txt',
 'Names/Names\\yob2005.txt',
 'Names/Names\\yob2006.txt',
 'Names/Names\\yob2007.txt',
 'Names/Names\\yob2008.txt',
 'Names/Names\\yob2009.txt',
 'Names/Names\\yob2010.txt',
 'Names/Names\\yob2011.txt',
 'Names/Names\\yob2012.txt',
 'Names/Names\\yob2013.txt',
 'Names/Names\\yob2014.txt',
 'Names/Names\\yob2015.txt',
 'Names/Names\\yob2016.txt',
 'Names/Names\\yob2017.txt',
 'Names/Names\\yob2018.txt']

In [4]:
def elavator_climbing():
    floor = 0
    for _ in range(100):
        dice = np.random.randint(1,7,1)[0]
        if dice in [1,2]:
            dice-=1
            floor = max(floor,0)
        elif dice in [3, 4, 5]:
            dice+=1
        else:
            dice = np.random.randint(1,7,size=1)[0]
            floor += dice
        if np.random.rand(1)[0] <= 0.001:
            floor = 0
    return floor >= 60

In [5]:
elavator_climbing()

False

In [11]:
n_plays = 10000
wining_li = []
for _ in range(n_plays):
    wining_li.append(elavator_climbing())

In [60]:
#wining_li

In [12]:
sum(wining_li) / n_plays * 100

41.92

In [13]:
dice = np.random.randint(1,7,1)[0]
dice

5

In [14]:
dice = np.random.randn(1)[0]
dice

0.05638129200783668