## Tuple
Immutable

In [18]:
tup = (1, 2, 3, 4, 4)
tup

(1, 2, 3, 4, 4)

In [19]:
[method for method in dir(tup) if not method.startswith('__')]

['count', 'index']

In [20]:
tup.count(4)

2

In [24]:
tup.index(3, 2)

2

In [26]:
tup

(1, 2, 3, 4, 4)

In [27]:
tup[0] = 2

TypeError: 'tuple' object does not support item assignment

## Set
- Không đánh index
- Không có giá trị trùng nhau

In [28]:
se = {1, 2, 3, 4, 4, 3, 2, 1}
se

{1, 2, 3, 4}

![](https://i.pinimg.com/originals/92/74/49/927449ed2c05f7cabe41d12d0db4c0ac.png)

In [29]:
[method for method in dir(se) if not method.startswith('__')]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [40]:
set_1 = {'Truong', 'Nam', 'Xuan', 'Thu'}
set_2 = {'Truong', 'Xuan', 'Bac', 'Dong', 'Dong', 'Tay'}
(set_1, set_2)

({'Nam', 'Thu', 'Truong', 'Xuan'}, {'Bac', 'Dong', 'Tay', 'Truong', 'Xuan'})

In [32]:
se

{1, 2, 3, 4}

In [33]:
se.add(5)

In [34]:
se

{1, 2, 3, 4, 5}

In [35]:
set_1, set_2

({'Nam', 'Thu', 'Truong', 'Xuan'}, {'Bac', 'Dong', 'Tay', 'Truong', 'Xuan'})

In [38]:
set_1.difference_update(set_2)

In [39]:
set_1

{'Nam', 'Thu'}

In [42]:
set_1, set_2

({'Nam', 'Thu', 'Truong', 'Xuan'}, {'Bac', 'Dong', 'Tay', 'Truong', 'Xuan'})

In [43]:
set_1.isdisjoint(set_2)

False

In [44]:
set_2.issubset(set_1)

False

In [45]:
{'Truong', 'Xuan'}.issubset(set_1)

True

In [46]:
set_1.issuperset({'Truong', 'Xuan'})

True

## Dictionary
- Quản lý theo cặp key: value
- Key là unique

In [47]:
dict_1 = {'name': ['Truong', 'Thu', 'Nam'], 'age': [18, 22, 24]}
dict_1

{'name': ['Truong', 'Thu', 'Nam'], 'age': [18, 22, 24]}

In [51]:
dict_1['name'][0] = 'Xuan'

In [52]:
dict_1

{'name': ['Xuan', 'Thu', 'Nam'], 'age': [18, 22, 24]}

In [53]:
[method for method in dir(dict) if not method.startswith('__')]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [55]:
# Not recommend
dict_1['age']

[18, 22, 24]

In [56]:
dict_1['university']

KeyError: 'university'

In [60]:
dict_1.get('age', 'SG')

[18, 22, 24]

In [69]:
dict_1.setdefault('university', 'SG')

'BL'

In [65]:
dict_1.get('university') = 'BK'

SyntaxError: can't assign to function call (<ipython-input-65-1d2de5734149>, line 1)

In [67]:
dict_1['university'] = 'BL'

In [68]:
dict_1

{'name': ['Xuan', 'Thu', 'Nam'], 'age': [18, 22, 24], 'university': 'BL'}

In [70]:
dict_1

{'name': ['Xuan', 'Thu', 'Nam'], 'age': [18, 22, 24], 'university': 'BL'}

In [71]:
dict_1.keys()

dict_keys(['name', 'age', 'university'])

In [72]:
age_2 = []
for key in dict_1.keys():
    if key == 'age':
        ages = dict_1.get(key)
        for age in ages:
            age_2.append(age**2)

age_2

[324, 484, 576]

In [76]:
dict_1

{'name': ['Xuan', 'Thu', 'Nam'], 'age': [18, 22, 24], 'university': 'BL'}

In [75]:
for value in dict_1.values():
    print(value)

['Xuan', 'Thu', 'Nam']
[18, 22, 24]
BL

In [81]:
dict_1.items()

dict_items([('name', ['Xuan', 'Thu', 'Nam']), ('age', [18, 22, 24]), ('university', 'BL')])

In [80]:
for key, value in dict_1.items():
    print(f'Key - {key} vs values - {value}')

Key - name vs values - ['Xuan', 'Thu', 'Nam']
Key - age vs values - [18, 22, 24]
Key - university vs values - BL

In [86]:
tup = ('name', 'age', 'uni', 'home', 'mark')

In [95]:
a, *y ,c = tup

In [99]:
dict_1

{'name': ['Xuan', 'Thu', 'Nam'], 'age': [18, 22, 24], 'university': 'BL'}

In [100]:
dict_1.pop('name')

['Xuan', 'Thu', 'Nam']

In [101]:
dict_1

{'age': [18, 22, 24], 'university': 'BL'}

In [103]:
dict_1.popitem()

('university', 'BL')

In [104]:
dict_1

{'age': [18, 22, 24]}

## Control Flow
- Sequence - tuần tự
- Loop - lặp
- Condition - rẽ nhánh

In [105]:
# Tuần tự 

a = 1
b = 2
c = a + b* a
c

3

### Loop
- For loop:
    - Item loop:
       ```
       for item in iterable:
            bussiness
       ```
    - Index loop:
      ```
      for index in range(start, stop, step):
            business
      ```
        
- While loop:
    ```
    while (boolean condition):
        business
    ```

#### For loop

In [106]:
li = [1, 2, 3, 4, 5, 6, 7]

In [107]:
# Item loop
for item in li:
    print(item**2)

1
4
9
16
25
36
49

In [108]:
len(li)

7

In [115]:
# Index loop
for index in range(len(li)):
    print(li[index]**2)

1
4
9
16
25
36
49

In [116]:
li

[1, 2, 3, 4, 5, 6, 7]

In [118]:
i = 0
while (i < 4):
    print(li[i]**2)
    i = i + 1
#     i += 1

1
4
9
16

#### Condition

```
if (boolean condtion):
    business
elif (boolean condition):  - optional
    business
elif (boolean condition):  - optional
    business
    ...
else: - optional
    business

```

In [129]:
li_1 = list(range(11))
li_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [121]:
a = 4
if a % 2 == 0:
    print('A là số chẵn')

A là số chẵn

In [122]:
a = 4
if a % 2 == 0:
    print('A là số chẵn')
else: 
    print('A la so le')

A là số chẵn

In [126]:
a = 2.5
if a < 2:
    print('a > 2')
elif a > 3:
    print('a > 3')
else: 
    print('other opt')

other opt

In [130]:
li_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [131]:
li = []
for item in li_1:
    if item % 2 == 0:
        li.append(item**2)
    else:
        li.append(item)
li

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [132]:
sum(li_1)/len(li_1)

5.0

In [133]:
li_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [135]:
sum_li = 0
count = 0
for item in li_1:
    sum_li += item
    count += 1
sum_li/ count

5.0

In [ ]:
median = [1, 3, 4, 2, 5]
[1, 2, 3, 4, 5, 6]
3.5