In [15]:
import pandas as pd
import yfinance as yf

In [12]:
series = pd.Series([1, 2, 3, 4, 'Truong', 'Hoang', 'An', 'Nguyen'], 
                  index=[2, 3, 4, 5, 6, 7, 8, 9], name='examples')
series

2         1
3         2
4         3
5         4
6    Truong
7     Hoang
8        An
9    Nguyen
Name: examples, dtype: object

In [8]:
type(series)

pandas.core.series.Series

In [13]:
series.to_frame()

  examples
2        1
3        2
4        3
5        4
6   Truong
7    Hoang
8       An
9   Nguyen

In [17]:
data = yf.download('AAPL', start='2010-01-01', end='2020-12-23', progress=False)
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-31,7.611786,7.619643,7.520000,7.526072,6.492372,352410800
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.593426,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656428,6.604825,601904800
2010-01-06,7.656428,7.686786,7.526786,7.534643,6.499768,552160000
2010-01-07,7.562500,7.571429,7.466072,7.520714,6.487752,477131200
...,...,...,...,...,...,...
2020-12-16,127.410004,128.369995,126.559998,127.809998,127.809998,98208600
2020-12-17,128.899994,129.580002,128.039993,128.699997,128.699997,94359800
2020-12-18,128.960007,129.100006,126.120003,126.660004,126.660004,192541500
2020-12-21,125.019997,128.309998,123.449997,128.229996,128.229996,121251600
2020-12-22,131.610001,134.410004,129.649994,131.880005,131.880005,168904800

In [22]:
# apple_series = data.Close
apple_series = data['Close']
apple_series

Date
2009-12-31      7.526072
2010-01-04      7.643214
2010-01-05      7.656428
2010-01-06      7.534643
2010-01-07      7.520714
                 ...
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Close, Length: 2764, dtype: float64

In [23]:
len(apple_series)

2764

In [25]:
apple_series.shape[0]

2764

In [26]:
apple_series.describe()

count    2764.000000
mean       33.551601
std        24.156059
min         6.858929
25%        17.449553
50%        26.935000
75%        42.883749
max       134.179993
Name: Close, dtype: float64

In [27]:
apple_series.median()

26.9350004196167

In [28]:
apple_series.quantile(0.25)

17.4495530128479

![](https://academy.vertabelo.com/static/statistics-101-04-quartiles-3.png)

![decile](https://i.ytimg.com/vi/40o82o3uNfk/hqdefault.jpg)

In [30]:
apple_series.quantile(0.01)

7.448621382713318

![](https://miro.medium.com/max/18000/1*2c21SkzJMf3frPXPAR_gZA.png)

![](https://cdn.analystprep.com/cfa-level-1-exam/wp-content/uploads/2019/10/05093814/page-123.jpg)

In [33]:
apple_series.head(10)

Date
2009-12-31    7.526072
2010-01-04    7.643214
2010-01-05    7.656428
2010-01-06    7.534643
2010-01-07    7.520714
2010-01-08    7.570714
2010-01-11    7.503929
2010-01-12    7.418571
2010-01-13    7.523214
2010-01-14    7.479643
Name: Close, dtype: float64

In [34]:
apple_series.tail(10)

Date
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Close, dtype: float64

In [36]:
apple_series.sort_values(ascending=False)

Date
2020-09-01    134.179993
2020-12-22    131.880005
2020-09-02    131.399994
2020-08-31    129.039993
2020-12-17    128.699997
                 ...
2010-02-10      6.968572
2010-02-01      6.954643
2010-02-08      6.932857
2010-01-29      6.859286
2010-02-04      6.858929
Name: Close, Length: 2764, dtype: float64

## Slicing
- loc[index_label, column_label]
- iloc[index_position, column_position]

In [43]:
apple_series

Date
2009-12-31      7.526072
2010-01-04      7.643214
2010-01-05      7.656428
2010-01-06      7.534643
2010-01-07      7.520714
                 ...
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Close, Length: 2764, dtype: float64

In [45]:
apple_series.loc['2010-01-06']

7.534642696380615

In [47]:
apple_series.iloc[3]

7.534642696380615

In [49]:
apple_series.loc['2010-01-07': '2010-01-20']

Date
2010-01-07    7.520714
2010-01-08    7.570714
2010-01-11    7.503929
2010-01-12    7.418571
2010-01-13    7.523214
2010-01-14    7.479643
2010-01-15    7.354643
2010-01-19    7.680000
2010-01-20    7.561786
Name: Close, dtype: float64

In [53]:
apple_series.iloc[4:13]

Date
2010-01-07    7.520714
2010-01-08    7.570714
2010-01-11    7.503929
2010-01-12    7.418571
2010-01-13    7.523214
2010-01-14    7.479643
2010-01-15    7.354643
2010-01-19    7.680000
2010-01-20    7.561786
Name: Close, dtype: float64

In [54]:
apple_series.loc[['2010-01-07', '2010-01-20']]

Date
2010-01-07    7.520714
2010-01-20    7.561786
Name: Close, dtype: float64

In [57]:
apple_series.iloc[[4, 12]]

Date
2010-01-07    7.520714
2010-01-20    7.561786
Name: Close, dtype: float64

In [70]:
apple_series.copy().sort_values(inplace=True)
apple_series

Date
2009-12-31      7.526072
2010-01-04      7.643214
2010-01-05      7.656428
2010-01-06      7.534643
2010-01-07      7.520714
                 ...
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Close, Length: 2764, dtype: float64

In [69]:
apple_series

Date
2009-12-31      7.526072
2010-01-04      7.643214
2010-01-05      7.656428
2010-01-06      7.534643
2010-01-07      7.520714
                 ...
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Close, Length: 2764, dtype: float64

In [71]:
app = apple_series.copy()
app.sort_values(inplace=True)
app

Date
2010-02-04      6.858929
2010-01-29      6.859286
2010-02-08      6.932857
2010-02-01      6.954643
2010-02-10      6.968572
                 ...
2020-12-17    128.699997
2020-08-31    129.039993
2020-09-02    131.399994
2020-12-22    131.880005
2020-09-01    134.179993
Name: Close, Length: 2764, dtype: float64

# DataFrame

In [73]:
df = pd.DataFrame({'name': ['Truong', 'Hoang', 'An', 'Nguyen'],
                   'age': [22, 23, 24, 25],
                   'hometown': ['BT', 'NB', 'KG', 'DN']})
df

     name  age hometown
0  Truong   22       BT
1   Hoang   23       NB
2      An   24       KG
3  Nguyen   25       DN

In [76]:
df.set_index('name', inplace=True)

In [77]:
df

        age hometown
name
Truong   22       BT
Hoang    23       NB
An       24       KG
Nguyen   25       DN

In [83]:
df_2 = pd.DataFrame(np.array([['Truong', 'Hoang', 'An', 'Nguyen'], 
                     [22, 23, 24, 25],
                     ['BT', 'NB', 'KG', 'DN']]).T, 
                    columns=['name', 'age', 'hometown'])
df_2

     name age hometown
0  Truong  22       BT
1   Hoang  23       NB
2      An  24       KG
3  Nguyen  25       DN

In [79]:
import numpy as np

In [80]:
np.array([['Truong', 'Hoang', 'An', 'Nguyen'], 
                     [22, 23, 24, 25],
                     ['BT', 'NB', 'KG', 'DN']])

array([['Truong', 'Hoang', 'An', 'Nguyen'],
       ['22', '23', '24', '25'],
       ['BT', 'NB', 'KG', 'DN']], dtype='<U6')

In [84]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-31,7.611786,7.619643,7.520000,7.526072,6.492372,352410800
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.593426,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656428,6.604825,601904800
2010-01-06,7.656428,7.686786,7.526786,7.534643,6.499768,552160000
2010-01-07,7.562500,7.571429,7.466072,7.520714,6.487752,477131200
...,...,...,...,...,...,...
2020-12-16,127.410004,128.369995,126.559998,127.809998,127.809998,98208600
2020-12-17,128.899994,129.580002,128.039993,128.699997,128.699997,94359800
2020-12-18,128.960007,129.100006,126.120003,126.660004,126.660004,192541500
2020-12-21,125.019997,128.309998,123.449997,128.229996,128.229996,121251600
2020-12-22,131.610001,134.410004,129.649994,131.880005,131.880005,168904800