In [19]:
import pandas as pd
import yfinance as yf

In [14]:
series = pd.Series(['Truong', 'Hoang', 'An', 'Nguyen', 1, 2, 3, 4], 
                  index = [2, 3, 4, 5, 6, 7, 8, 9], name = 'example'# thay the so 0 )

In [15]:
series

2    Truong
3     Hoang
4        An
5    Nguyen
6         1
7         2
8         3
9         4
Name: example, dtype: object

In [10]:
type(series)

pandas.core.series.Series

In [16]:
# chuyen series ve datafram
series.to_frame()

  example
2  Truong
3   Hoang
4      An
5  Nguyen
6       1
7       2
8       3
9       4

In [17]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.55.tar.gz (23 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\dell\anaconda3\envs\hoang\lib\site-packages (from yfinance) (1.1.3)
Requirement already satisfied: numpy>=1.15 in c:\users\dell\anaconda3\envs\hoang\lib\site-packages (from yfinance) (1.19.1)
Requirement already satisfied: requests>=2.20 in c:\users\dell\anaconda3\envs\hoang\lib\site-packages (from yfinance) (2.25.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.2-cp36-cp36m-win_amd64.whl (3.5 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\envs\hoang\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\dell\anaconda3\envs\hoang\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\dell\anaconda3\envs\hoang\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\envs\hoang\lib\site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\envs\hoang\lib\site-packages (from requests>=2.20->yfinance) (2020.11.8)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\dell\anaconda3\envs\hoang\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\envs\hoang\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22622 sha256=85cc3277c24f9f3b7401946706e08753e40a75b84bbd1cc6104eb6ccf726479e
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\68\72\87\a384b8b8139f2489024464d6f5937e6acb2054c57d25519fb9
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8372 sha256=7a56f61541383083cf65e91470c0220ffdc246a15ac75ee45a82588fa015a3a1
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\5e\8a\c4\59c699498647c7c94b14c87a904ca7540646107b3d94b7c320
Successfully built yfinance multitasking
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.6.2 multitasking-0.0.9 yfinance-0.1.55

In [22]:
data = yf.download('AAPL', start='2010-01-01', end='2020-12-23', progress=False)# progress de ko can hien dowload du lieu ve
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-31,7.611786,7.619643,7.520000,7.526072,6.492372,352410800
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.593426,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656428,6.604825,601904800
2010-01-06,7.656428,7.686786,7.526786,7.534643,6.499768,552160000
2010-01-07,7.562500,7.571429,7.466072,7.520714,6.487752,477131200
...,...,...,...,...,...,...
2020-12-16,127.410004,128.369995,126.559998,127.809998,127.809998,98208600
2020-12-17,128.899994,129.580002,128.039993,128.699997,128.699997,94359800
2020-12-18,128.960007,129.100006,126.120003,126.660004,126.660004,192541500
2020-12-21,125.019997,128.309998,123.449997,128.229996,128.229996,121251600
2020-12-22,131.610001,134.410004,129.649994,131.880005,131.880005,168904800

In [41]:
apple_series = data.Close# cach goi ten cot 1
apple_series

Date
2009-12-31      7.526072
2010-01-04      7.643214
2010-01-05      7.656428
2010-01-06      7.534643
2010-01-07      7.520714
                 ...
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Close, Length: 2764, dtype: float64

In [25]:
apple_series = data['Adj Close']# cach goi ten cot thu 2
apple_series

Date
2009-12-31      6.492372
2010-01-04      6.593426
2010-01-05      6.604825
2010-01-06      6.499768
2010-01-07      6.487752
                 ...
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Adj Close, Length: 2764, dtype: float64

In [30]:
len(apple_series)

2764

In [34]:
apple_series.shape[0] # in ra kich thuoc cua data

2764

In [35]:
apple_series.describe() # in ra thong ke du lieu

count    2764.000000
mean       33.551601
std        24.156059
min         6.858929
25%        17.449553
50%        26.935000
75%        42.883749
max       134.179993
Name: Close, dtype: float64

In [36]:
# mean: gia tri trung binh mo ta xu huong trung tam bo du lieu
# min: gia tri nho nhat
# max: gia tri lon nhat
# std: do lech chuan la khoang cach trung binh den diem du lieu, do do phan tan cua bo data
# 25%: gia tri nho thu 25 nghia la co 25% so diem du lieu nho hon 17.449553
# 50%: gia tri nho thu 50 co ten goi la trung vi nghia la co 50% so diem du lieu nho hon 26.93500
apple_series.median()

26.9350004196167

In [37]:
apple_series.quantile(0.25)

17.4495530128479

In [43]:
apple_series.quantile(0.01)

7.448621382713318

## Normal distribution

![Phan phoi]()

*Predictive* du bao

In [ ]:
# signiticant - level: co y nghia thong ke hay khong
# confidence - level: do tin cay

In [50]:
apple_series.head(10)# xem 10 dong dau

Date
2009-12-31    7.526072
2010-01-04    7.643214
2010-01-05    7.656428
2010-01-06    7.534643
2010-01-07    7.520714
2010-01-08    7.570714
2010-01-11    7.503929
2010-01-12    7.418571
2010-01-13    7.523214
2010-01-14    7.479643
Name: Close, dtype: float64

In [51]:
apple_series.tail(10)# xem 10 dong cuoi

Date
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Close, dtype: float64

In [62]:
apple_series.copy().sort_values(inplace=True)
apple_series

Date
2009-12-31      7.526072
2010-01-04      7.643214
2010-01-05      7.656428
2010-01-06      7.534643
2010-01-07      7.520714
                 ...
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Close, Length: 2764, dtype: float64

In [61]:
apple_series.sort_values(inplace=True)

ValueError: This Series is a view of some other array, to sort in-place you must create a copy

In [53]:
apple_series.sort_values(ascending=False)# sap xep du lieu

Date
2020-09-01    134.179993
2020-12-22    131.880005
2020-09-02    131.399994
2020-08-31    129.039993
2020-12-17    128.699997
                 ...
2010-02-10      6.968572
2010-02-01      6.954643
2010-02-08      6.932857
2010-01-29      6.859286
2010-02-04      6.858929
Name: Close, Length: 2764, dtype: float64

In [ ]:
# Ham series goi duoc thi pandas goi duoc nung ham pandas goi thi chua chac series goi duoc

## Slicing
- loc: index label, column label
- iloc: index position, column position

In [54]:
apple_series

Date
2009-12-31      7.526072
2010-01-04      7.643214
2010-01-05      7.656428
2010-01-06      7.534643
2010-01-07      7.520714
                 ...
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Close, Length: 2764, dtype: float64

In [55]:
apple_series.loc['2010-01-05']

7.656428337097168

In [56]:
apple_series.iloc[2]

7.656428337097168

In [57]:
apple_series.loc['2010-01-07':'2010-01-20']

Date
2010-01-07    7.520714
2010-01-08    7.570714
2010-01-11    7.503929
2010-01-12    7.418571
2010-01-13    7.523214
2010-01-14    7.479643
2010-01-15    7.354643
2010-01-19    7.680000
2010-01-20    7.561786
Name: Close, dtype: float64

In [59]:
apple_series.iloc[4:13]# chon khoang se bi exculsive gia tri cuoi

Date
2010-01-07    7.520714
2010-01-08    7.570714
2010-01-11    7.503929
2010-01-12    7.418571
2010-01-13    7.523214
2010-01-14    7.479643
2010-01-15    7.354643
2010-01-19    7.680000
2010-01-20    7.561786
Name: Close, dtype: float64

In [60]:
apple_series.loc[['2010-01-11', '2010-01-20']] # lay gia tri rieng le

Date
2010-01-11    7.503929
2010-01-20    7.561786
Name: Close, dtype: float64

## Dataframe

In [67]:
df = pd.DataFrame({'name': ['Truong', 'An', 'Hoang'],
             'age': [10,21,22],
             'hometown': ['DT', 'NT', 'HN']})

In [70]:
df.set_index('name', inplace=True)

In [69]:
df

     name  age hometown
0  Truong   10       DT
1      An   21       NT
2   Hoang   22       HN

In [71]:
df_2 = pd.DataFrame([['Truong', 'An', 'Hoang'], [10,21,22],  ['DT', 'NT', 'HN']])

In [72]:
df_2

        0   1      2
0  Truong  An  Hoang
1      10  21     22
2      DT  NT     HN

In [73]:
import numpy as np

In [76]:
np.array([['Truong', 'An', 'Hoang'],  ['DT', 'NT', 'HN'][])

SyntaxError: invalid syntax (<ipython-input-76-b10fe58c9d9c>, line 1)