# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. How many products cost more than $10.00?

In [5]:
chipo['item_price'] = chipo.item_price.apply(lambda x: x.strip().replace('$','')).astype(float)
# doi ky tu $ thanh so
#chipo['new_item_price'] = chipo.new_item_price/ chipo.quantity

In [6]:
chipo['product_price'] = chipo.eval("item_price / quantity")

In [7]:
avg_product_price = chipo.groupby('item_name').product_price.mean()

In [8]:
avg_product_price[avg_product_price > 10]

item_name
Barbacoa Bowl            10.187273
Barbacoa Crispy Tacos    10.087273
Barbacoa Salad Bowl      10.640000
Barbacoa Soft Tacos      10.018400
Carnitas Bowl            10.315588
Carnitas Salad Bowl      11.056667
Steak Bowl               10.232559
Steak Salad Bowl         11.027931
Veggie Bowl              10.011882
Veggie Salad Bowl        10.138889
Name: product_price, dtype: float64

In [7]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,new_item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,8.49

In [8]:
chipo.query('new_item_price > 10')

,order_id,quantity,item_name,choice_description,item_price,new_item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [10]:
chipo.groupby('item_name').new_item_price.max()

item_name
6 Pack Soft Drink                         6.49
Barbacoa Bowl                            11.75
Barbacoa Burrito                         11.75
Barbacoa Crispy Tacos                    11.75
Barbacoa Salad Bowl                      11.89
Barbacoa Soft Tacos                      11.75
Bottled Water                             1.50
Bowl                                      7.40
Burrito                                   7.40
Canned Soda                               1.09
Canned Soft Drink                         1.25
Carnitas Bowl                            11.75
Carnitas Burrito                         11.75
Carnitas Crispy Tacos                    11.75
Carnitas Salad                            8.99
Carnitas Salad Bowl                      11.89
Carnitas Soft Tacos                      11.75
Chicken Bowl                             11.25
Chicken Burrito                          11.25
Chicken Crispy Tacos                     11.25
Chicken Salad                            10.98
Chicken Salad Bowl                       11.25
Chicken Soft Tacos                       11.25
Chips                                     2.15
Chips and Fresh Tomato Salsa              2.95
Chips and Guacamole                       4.45
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Roasted Chili Corn Salsa        2.95
Chips and Roasted Chili-Corn Salsa        2.39
Chips and Tomatillo Green Chili Salsa     2.95
Chips and Tomatillo Red Chili Salsa       2.95
Chips and Tomatillo-Green Chili Salsa     2.39
Chips and Tomatillo-Red Chili Salsa       2.39
Crispy Tacos                              7.40
Izze                                      3.39
Nantucket Nectar                          3.39
Salad                                     7.40
Side of Chips                             1.69
Steak Bowl                               11.75
Steak Burrito                            11.75
Steak Crispy Tacos                       11.75
Steak Salad                               8.99
Steak Salad Bowl                         11.89
Steak Soft Tacos                         11.75
Veggie Bowl                              11.25
Veggie Burrito                           11.25
Veggie Crispy Tacos                       8.49
Veggie Salad                              8.49
Veggie Salad Bowl                        11.25
Veggie Soft Tacos                        11.25
Name: new_item_price, dtype: float64

### Step 6. Sort by the name of the item

In [9]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,product_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

In [13]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [10]:
chipo.groupby('item_name').item_price.max()

item_name
6 Pack Soft Drink                        12.98
Barbacoa Bowl                            11.75
Barbacoa Burrito                         11.75
Barbacoa Crispy Tacos                    18.50
Barbacoa Salad Bowl                      11.89
Barbacoa Soft Tacos                      11.75
Bottled Water                            15.00
Bowl                                     22.20
Burrito                                   7.40
Canned Soda                               4.36
Canned Soft Drink                         5.00
Carnitas Bowl                            35.25
Carnitas Burrito                         18.50
Carnitas Crispy Tacos                    17.98
Carnitas Salad                            8.99
Carnitas Salad Bowl                      11.89
Carnitas Soft Tacos                      11.75
Chicken Bowl                             32.94
Chicken Burrito                          35.00
Chicken Crispy Tacos                     17.50
Chicken Salad                            10.98
Chicken Salad Bowl                       22.50
Chicken Soft Tacos                       21.96
Chips                                     6.45
Chips and Fresh Tomato Salsa             44.25
Chips and Guacamole                      17.80
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Roasted Chili Corn Salsa        5.90
Chips and Roasted Chili-Corn Salsa        2.39
Chips and Tomatillo Green Chili Salsa     5.90
Chips and Tomatillo Red Chili Salsa       5.90
Chips and Tomatillo-Green Chili Salsa     4.78
Chips and Tomatillo-Red Chili Salsa       7.17
Crispy Tacos                              7.40
Izze                                      3.39
Nantucket Nectar                          6.78
Salad                                     7.40
Side of Chips                            13.52
Steak Bowl                               26.07
Steak Burrito                            27.75
Steak Crispy Tacos                       17.98
Steak Salad                               8.99
Steak Salad Bowl                         23.78
Steak Soft Tacos                         18.50
Veggie Bowl                              16.98
Veggie Burrito                           33.75
Veggie Crispy Tacos                       8.49
Veggie Salad                              8.49
Veggie Salad Bowl                        11.25
Veggie Soft Tacos                        16.98
Name: item_price, dtype: float64

In [15]:
most_expensive = chipo.groupby('item_name').item_price.max().nlargest(1).index[0]
most_expensive

'Chips and Fresh Tomato Salsa'

In [14]:
chipo.query('item_name == @most_expensive').quantity.sum()#dau @ de tham chieu toi bien ta tao

130

In [16]:
chipo.query('item_name == "Chips and Fresh Tomato Salsa"').quantity.sum()

130

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [20]:
chipo.head(20)

,order_id,quantity,item_name,choice_description,item_price,product_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25
10,5,1,Chips and Guacamole,NaN,4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75,8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
14,7,1,Chips and Guacamole,NaN,4.45,4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49,8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49,8.49
18,9,2,Canned Soda,[Sprite],2.18,1.09
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75,8.75

In [23]:
chipo.query('item_name == "Veggie Salad Bowl"').order_id.drop_duplicates().count()

18

In [27]:
chipo.query('item_name == "Veggie Salad Bowl"').order_id.nunique()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [38]:
chipo.query('item_name == "Canned Soda" & quantity > 1 ').order_id.nunique()

18